<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <footer>
        <div class="footer-content">
            <p>&copy; 2023 SUNY New Paltz. All rights reserved.</p>
            <ul class="social-media">
                <li><a href="https://www.facebook.com/sunynewpaltz" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/sunynewpaltz" target="_blank">Twitter</a></li>
                <li><a href="https://www.instagram.com/sunynewpaltz" target="_blank">Instagram</a></li>
                <li><a href="https://www.linkedin.com/school/suny-new-paltz" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>